
.experience__container {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    justify-content: center;
    row-gap: 2rem;
    padding-bottom: 4rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    padding: (0%, 10%, 0%, 10%);
}

.header {
    text-align: center;
}

.header h1{
  font-weight: 600;
  font-size: larger;
}

.work__container {
    height: 100%;
    width: 300px;
  }
  
  .work__container .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color:var(--color-white);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .work__container .card-header .logo__tag {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: contain;
  }
  
  .work__container .card-header .logo__link {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: contain;
  }
  
  .work__container .card-body {
    padding: 15px;
    background-color: var(--color-white);
  }
  
  .work__container .card-body .card-title {
    font-size: 20px;
    font-weight: 600;
    min-height: 70px;
  }
  
  .work__container .card-body .card-text {
    font-size: 16px;
    color: var(--color--black);
    min-height: 140px;

  }
  
  .work__container .card-footer {
    background-color: var(--color-white);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 14px;
    color: #999;
    /* position: absolute;
    bottom: 0;
    width: 100%; */
  }





.sub-header {
    text-align: center;
}

/* .tag-bar {
    text-align: start;
    display: grid;
    gap: 10px;
    margin-left: 4rem;
    margin-top: 1.5rem;
    margin: 5% 5% 0% 5%;
} */

.tag-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin:2rem;
  }
  
  .tag-bar > * {
    margin-right: 8px; /* Adjust this value as needed */
    margin-bottom: 10px;
  }

.experience__container {
    margin-top: 2.5rem;
}


.TypeBtn {
    padding: 1rem;
    margin: 0.5rem;
    border-bottom: 3.5px solid;
    border-color: black;
    background-color: transparent;
    cursor: pointer;

}

.TypeBtn h2 {
 font-size: large;
font-weight: 600;
}


.TypeBtn.active {
    transform: scale(1.1);
    border-color: var(--color-whitegray);
}

.TagBtn {
    border-radius: 40px;
    font-weight: 400;
    cursor: pointer;
    background-color: var(--color-darkbrown);
    width: max-content;
    display: inline-block;
    color: var(--color-whitegray);
    padding: 0.75rem 1.2rem;
    cursor: pointer;
    font-weight: 600;
    transition: var(--transition);

}

.TagBtn h3{
  font-size: medium;
}
.TagBtn.active {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    border: 2px solid var(--color--black);
    color: var(--color--white);
    background-color: var(--color-whitegray);
    /* border-radius: 20px; */
    /* padding: 8px 16px; */
}


/*===============modal========================*/
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-content {
  border-radius: 10px;
  background-color: white;
  padding: 1rem;
  overflow-y: auto;
  margin: auto;
  width: 90%;
  max-width: 800px;
  max-height: 80%;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h2 {
  margin: 1rem;
  font-size: 20px;
  font-weight: 600;


  /* font-size: 1.5rem; */
}

.modal-header button {
  border: none;
  background-color: transparent;
  font-size: 16px;
    font-weight: 600;

  /* font-size: 1.5rem; */
  color: #6c757d;
  cursor: pointer;
  margin-right: 1rem;
}
.more{
  padding-top: 1.5rem;
}
.modal-body,
.modal-footer {
  padding: 1rem;
  font-size: 16px;
}

.modal-body h3,.modal-footer h3{
  font-weight: 600;
  font-size: 18px;

}

/*====================MEDIA QUERIES =======================*/

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .tag-bar {
        text-align: start;
        margin-left: 5rem;
        margin-top: 1.5rem;
    }
    .header h1{
      font-weight: 600;
      font-size: x-large;
    }

    .experience__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .modal-content {
      width: 80%;
      max-width: 800px;
    }
  
    .modal-header h2 {
      margin: 1rem ;
      font-size: 1.5rem;
    }
  
    .modal-body h3,.modal-footer h3{
      font-size: 1.2rem;
      font-weight: 600;
    }
    .modal-body,
    .modal-footer {
      font-size: 1rem;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    section {
        min-height: 100vh;
    }

    .experience__container {
        grid-template-columns: repeat(3, 1fr);
    }

    .modal-content {
      width: 70%;
      max-width: 1000px;
    }
  
    .modal-header h2 {
      margin: 1rem ;
      font-size: 1.5rem;
    }
  
    .modal-body h3,.modal-footer h3{
      font-size: 1.2rem;
      font-weight: 600;
    }
    .modal-body,
    .modal-footer {
      font-size: 1rem;
    }

    .header h2{
      font-weight: 600;
      font-size: x-large;
    }
}