@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    /*remove the bullets for every list item*/
    text-decoration: none;
    /*remove the underline from link*/
    /* overflow: visible; */

}

:root {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-red: #E88073;
    --color-whitegray: #F8F6EA;
    --color-beige: #D8C3A4;
    --color-darkbrown:#a78e6a;    
;
    --color-darkgray: #8E8D8A;

    --transition: all 400ms ease;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;

}

้html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background: var(--color-beige);
    font-family: 'Poppins', sans-serif;
    line-height: 1.7;
}

/*===============GENERAL STYLES==============*/
.container {
    /* width: var(--container-width-lg); */
    margin: 0 auto;
}



h1 {
    font-weight: 600;
    font-size: larger;
}

h2 {
    font-weight: 500;
    font-size: large;
}

h3 {
    font-weight: 400;
    font-size: medium;

}

h4 {
    font-weight: 400;
    font-size: medium;

}

a {
    transition: var(--transition);
}

a:hover {
    color: var(--color-darkgray);
}

.btn {
    width: max-content;
    display: inline-block;
    color: var(--color-black);
    padding: 0.75rem 1.2rem;
    cursor: pointer;
    border-color: transparent;
    font-weight: 600;
    transition: var(--transition);
}



img {
    width: 100%;
    /* object-fit: cover; */
}

/*====================MEDIA QUERIES =======================*/

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    h1 {
        font-weight: 700;
        font-size: xx-large;
    }

    h2 {
        font-weight: 600;
        font-size: x-large;
    }

    h3 {
        font-weight: 500;
        font-size: larger;
    }

    h4 {
        font-weight: 400;
        font-size: large;
    }

    h5 {
        font-weight: 400;
        font-size: medium;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    section {
        min-height: 100vh;
    }
}