.navbar{
    background: var(--color-darkgray);
    width: max-content;
    display: block;
    padding: 0.7rem 1rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 2rem;
    backdrop-filter: blur(15px);
}

 .navbar a{
    background: transparent;
    padding: 0.3rem 0.5rem 0rem 0.5rem; 
    border-radius: 50%;
    color: var(--color-white);
    font-size: 1.1rem;
}

.navbar a:hover{
    background-color: gray;
    color: var(--color-white);
}


.navbar a.active{
    background-color: var(--color-whitegray);
    color: var(--color-darkgray);
}